[submodule "submodules/carla-driving-rl-agent"]
	path = submodules/carla-driving-rl-agent
	url = https://github.com/Luca96/carla-driving-rl-agent.git
[submodule "submodules/autonomous-driving-deep-rl"]
	path = submodules/autonomous-driving-deep-rl
	url = https://github.com/idreesshaikh/Autonomous-Driving-in-Carla-using-Deep-Reinforcement-Learning.git
[submodule "submodules/rl-frenet-trajectory-planning"]
	path = submodules/rl-frenet-trajectory-planning
	url = https://github.com/MajidMoghadam2006/RL-frenet-trajectory-planning-in-CARLA.git
[submodule "submodules/data-collector"]
	path = submodules/data-collector
	url = https://github.com/carla-simulator/data-collector.git
