[submodule "submodules/carla-driving-rl-agent"]
	path = submodules/carla-driving-rl-agent
	url = https://github.com/Luca96/carla-driving-rl-agent.git
[submodule "submodules/autonomous-driving-deep-rl"]
	path = submodules/autonomous-driving-deep-rl
	url = https://github.com/idreesshaikh/Autonomous-Driving-in-Carla-using-Deep-Reinforcement-Learning.git
